{% comment %}
	By default, the HTML5 <header> element has an identical meaning to the banner landmark,
	unless it is a descendant of <aside>, <article>, <main>, <nav>, or <section>.
	▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒
{% endcomment %}
<header class="banner01 banner01--hidden">
	<span class="banner01__bold">Test weight: </span>
	<span class="banner01__copy">Normal weight</span>
</header>