---
title: &title Home
headline: Home
subheadline: H2 subheadline
---
<!DOCTYPE html>
<html lang="en" id="{{ site.name | downcase }}-html">
	<head>
		{% include head01.liquid %}
	</head>
	<body>
		{% include navigation/navGlobal.liquid %}
		<main class="mainContent home">
			<section id="section1_sec" class="home__section" data-sec="1">
			</section>
			<section id="section2_sec" class="home__section" data-sec="2">
			</section>
			<section id="section3_sec" class="home__section" data-sec="2">
			</section>
			<div id="lens1_lens" class="home__lens"></div>

		</main>
		<div class="demo__marker"></div>
		{% include footer01.liquid %}
	</body>
</html>
