---
title: &title Home
headline: Home
subheadline: H2 subheadline
elements:
- earth
- water
- fire
- air
- void
---
<!DOCTYPE html>
<html lang="en" id="{{ site.name | downcase | replace: " " , "-" }}-html">
	<head>
		{% include head01.liquid %}
	</head>
	<body>
		{% include navigation/navGlobal.liquid %}
		<main class="mainContent home">
			{% for element in page.elements %}
			<section id="section{{ forloop.index }}_sec" class="home__section" data-sec="{{ forloop.index }}">
				<img style="width:100%; height:100vh; object-fit: cover;" src="{{ env }}/assets/imgs/home/PinnedExperience_{{ element }}-1920x1080-50.jpg">
			</section>
			{% endfor %}
			<div id="lens1_lens" class="home__lens"></div>

		</main>
		<div class="demo__marker"></div>
		{% include footer01.liquid %}
	</body>
</html>
