---
title: &title Home
headline: Home
subheadline: H2 subheadline
---
<!DOCTYPE html>
<html lang="en" id="{{ site.name | downcase }}-html">
	<head>
		{% include head01.liquid %}
	</head>
	<body>
		{% include navigation/navGlobal.liquid %}
		<main class="mainContent home">
			<!--<header class="home__header grid grid&#45;&#45;12">

				<h1 class="home__h1 grid__12">{{ page.headline }}</h1>
				<h2 class="home__h2 grid__12">{{ page.subheadline }}</h2>

			</header>
			<section class="grid grid&#45;&#45;12">
				<div class="grid__12">grid__12</div>
				<div class="grid__6">grid__6</div>
				<div class="grid__6 grid__6&#45;&#45;2">grid__6 grid__6&#45;&#45;2</div>
			</section>-->
			<section class="home__section">

			</section>
			<section class="home__section">

			</section>
			<section class="home__section">

			</section>
			<section class="home__section">

			</section>
			<section class="home__section">

			</section>
			<section class="home__section">

			</section>
			<section class="home__section">

			</section>
			<section class="home__section">

			</section>
			<section class="home__section">

			</section>
			<section class="home__section">

			</section>
		</main>
		<div class="demo__marker"></div>
		{% include footer01.liquid %}
	</body>
</html>
